{% extends "base.html" %}

{% block titulo %}
<title>Bodega MITO - Inicio</title>
{% endblock titulo %}

{% block contenido %}
{% if user.is_authenticated %}
<h1 style="color: rgb(37, 37, 78);"><img style="width: 15%;" src="../static/assets/mito.jpg" alt=""><b>Bienvenido/a {{user.last_name}},{{user.first_name}} a Bodega MITO</b></h1>
{% else %}
<h1 style="color: rgb(37, 37, 78);"><img style="width: 15%;" src="../static/assets/mito.jpg" alt=""><b>Bienvenido/a visitante a Bodega MITO</b></h1>
{% endif %}
<h5> <br>
    MITO es un espacio de casi 300 metros cuadrados dedicados al vino y otras bebidas.<br><br>
    En la vinoteca contamos con una destacada variedad de bodegas de la mayoría de las regiones vitivinícolas de la Argentina.<br><br>
    Hay vinos, licores y destilados; y nuestra característica distintiva es la cantidad de bodegas con las que trabajamos.<br><br>
    Tenemos también un sector de novedades y nuevas incorporaciones, con estuches y presentaciones especiales , y algunos productos regionales y aceites.</h5>
<br><br>
{% endblock contenido %}
